.page-newsdetail {
    font-size: 14px;

    padding: 0 15px 0 20px;
    .title {
        text-align: center;
        // height: 20px;
        margin: 20px auto;
        // padding-top: 15px;
        // line-height: 50px;
        font-size: 18px;
        font-weight: 700;
    }
    .content {
        line-height: 28px;
        text-indent:2em;
    }
}
