.page-setting{
    padding-top: 30px;
    .adm-list-header{
        margin-left: 15px;
    }
    .adm-form-item-label .adm-form-item-required-asterisk{
        left:-0.2em;
    }
    .adm-form-item-label{
        padding-left: 12px;
    }
    .settingbtn{
        background-color:#008b8b;
        border-radius: 8px;
        color: #fff;
    }
}