.page-txnews{
    // .adm-list-item-content{
    //     width: 88vw;
    // }
    // .adm-list-item-content-main{
    //     padding-left: 5%;
       
    // }
    .adm-collapse-panel-content{
        padding: 0 !important;;
    }
    .adm-list-item{
        padding-left: 0;
    }
    .adm-list-item-content{
        padding-right: 0;
    }
    .adm-list-item-content-main{
        padding:12px 5vw;
    }
    .adm-list-item-content-arrow{
        margin-right: 8vw;
    }
    // .panel-item{
    //     >.adm-list-item-content-main{
    //         padding:12px 8vw;
    //     }

    // }
}