.page-setphone{
    .phonefill{
        font-size: 50px;
        color:#008B00;
        margin-top: 60px;
    }
    .nowphone{
        margin: 20px 0;
        font-size: 20px;
    }
    .phonebtn{
        background-color:#008b8b;
        border-radius: 8px;
        color: #fff;
    }
}